
<%- include("partials/nav") -%>

    <h1>Home</h1>
    <p> <%= homecontent %> </p>

 <%   posts.forEach(function(postobject){ %>
    <h1> <%= postobject.titleitem  %> </h1>
    <p> <%= postobject.content.substring(0,100) + " ..."   %>  <a href="/posts/<%= postobject._id %>">Read More</a> </p>
  <%  }); %>
 

<%- include("partials/footer") -%> 